<html>
<head>
	{% load static %}
<meta charset="utf-8">
<script src="{% static 'js/bootstrap.js' %}" type="text/javascript" ></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />

{% if title %}
	<title>Learn It | {{data.title}} </title>
{% elif lesson.title %}
	<title> Learn It | Assimil {{lesson.title}}</title>
{% else %}
	<title>Learn It! {% block title%}{% endblock %}</title>
{% endif %}
<!--Bootstrap & JQuery Javascript link-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
	<!--Nav Bar-->
	<nav class="navbar navbar-default" id="nav" style="background-color:#efeff3">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Learn It!</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!--<li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>-->
					<li><a href="/learn">Assimil</a></li>
					<li><a href="/learn/lists">Word Lists</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Contact</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/accounts/profile">Profile <span class="glyphicon glyphicon-user"></span></a></li>
							<li><a href="/accounts/messages">Inbox <span class="glyphicon glyphicon-inbox"></span></a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							{% if request.user.is_authenticated %}
								<li><a href="/accounts/profile/edit">My Account <span class="glyphicon glyphicon-list-alt" ></span></a></li>
								<li><a href="/logout/">Log Out <span class="glyphicon glyphicon-off"></span></a></li>
							{% else %}
								<li><a href="/login/">Log in</a></li>
								<li><a href="/signup/">Sign up</a><li>
							{% endif %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End of Nav Bar -->
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
