{% extends "learn/header.html" %}
{% block content %}
<div >
	<div class="jumbotron">
		<h1>Welcome</h1>
		<p>Wanna learn another language?</p>
		<p>See courses and tools below:</p>
		<div class="list-group">
			<a href="/learn/" class="list-group-item">Assimil French with Ease <span class="label label-default">New</span></a>
			<a href="learn/lists" class="list-group-item">Word Lists <span class="label label-default">In development</span></a>
		</div>
	</div>

</div>
{% endblock %}
