{% extends "learn/header.html" %}

{% block content %}
  <h1>Create a new list:</h1>
  <div class="jumbotron">
    <div class="container">
    <form id="list_name" action="list_add/" name="list_name" method="post">
      {% csrf_token %}
      <div class="col-lg-6">
        <div class="input-group">
          <!--input class="form-control" id="newList" type="text" name="newList" -->
          <label for="list_name">List Name:</label><br>
          <input class='form-control' id="list_name" type="text" name="list_name"><br><br>
          <label for="description">Description:</label><br>
          <textarea class="form-control" rows="5" id="description" type="text" name="description"></textarea><br><br>
          <button class="btn btn-default" type="submit">Create</button>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <!--input class="form-control" id="newList" type="text" name="newList" >
      <input class="btn btn-default" type="submit" value="Create"-->
    </form>
  </div>
  </div>
  <h1>Saved Lists:</h1>
  <div class="container">
  {% if lists %}
  {% for list in lists %}
    <a href="list_render/{{ list.list_id }}"> {{ list.name }} </a>
  {% endfor %}
  {% else %}
    <p>You have not created any word lists</p>
  {% endif %}
</div>
{% endblock %}
